<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:form rendered="#{animalControle.animal!=null}">
        
        <p:panel header="Formulário de cadastro">
            <p:panelGrid columns="2" layout="grid">
                
                <p:outputLabel value="Nome Pai:" for="nomePai"/>
                <p:inputText id="nomePai" 
                             value="#{animalControle.animal.nomePai}"/>
                
                <p:outputLabel value="Nome Mãe:" for="nomeMae"/>
                <p:inputText id="nomeMae" 
                             value="#{animalControle.animal.nomeMae}"/>
                
                <p:outputLabel value="Sexo: " for="sexo"/>
                <p:selectOneRadio id="sexo" value="#{animalControle.animal.sexo}">
                    <f:selectItem itemValue="MACHO" itemLabel="Macho"/>
                    <f:selectItem itemValue="FEMEA" itemLabel="Fêmea"/>
                </p:selectOneRadio>
                
                <p:outputLabel value="Data do Cadastro:" for="dataCad"/>
                <p:calendar id="dataCad" 
                    pattern="dd/MM/yyyy HH:mm:ss" disabled="true"
                    value="#{animalControle.animal.dataCad}"/>
                
                <p:outputLabel value="Ativo:" for="status"/>
                <p:selectBooleanCheckbox 
                    id="status"
                    value="#{animalControle.animal.status}"/>
                
                <p:outputLabel value="Custo:" for="custo"/>
                <p:inputText id="custo"
                             value="#{animalControle.animal.custo}">
                     
                <f:convertNumber minFractionDigits="2"
                                 maxFractionDigits="2"
                                 type="currency"
                                 currencySymbol="R$"/>
                </p:inputText>
                
                <p:outputLabel value="Número de Controle:" for="numControle"/>
                <p:inputText id="numControle" 
                             value="#{animalControle.animal.numControle}"/>
                
                <p:outputLabel value="Peso:" for="peso"/>
                <p:inputText id="peso" 
                             value="#{animalControle.animal.peso}"/>
                
                <p:outputLabel value="Lote:" for="lote"/>
                <p:selectOneMenu id="lote"
                                 value="#{animalControle.animal.lote}"
                                 converter="#{loteControle.converter()}">
                                 
                                 <f:selectItem itemLabel="Lote"
                                               itemValue="null"/>
                                 <f:selectItems value="#{loteControle.listagem}"
                                                var="item"
                                                itemLabel="#{item.numLote}"
                                                itemValue="#{item}"/>
                </p:selectOneMenu>
                
            </p:panelGrid>
            <f:facet name="footer">
                <p:commandButton value="Salvar"
                                 action="#{animalControle.salvar()}"
                                 ajax="false"/>
            </f:facet>
        </p:panel>
    
    </h:form>
    
</html>

