<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
       >

    <ui:composition template="/template.xhtml">

        <ui:define name="conteudo">
            <h:form rendered="#{animalControle.animal==null}">
                <p:dataTable value="#{animalControle.listagem}"
                             var="item">

                    <p:column headerText="ID">
                        <h:outputText value="#{item.id}"/>
                    </p:column>

                    <p:column headerText="Nome Pai">
                        <h:outputText value="#{item.nomePai}"/>
                    </p:column>

                    <p:column headerText="Nome Mãe">
                        <h:outputText value="#{item.nomeMae}"/>
                    </p:column>

                    <p:column headerText="Sexo">
                        <h:outputText value="#{item.sexo}"/>
                    </p:column>

                    <p:column headerText="Data do Cadastro">
                        <h:outputText value="#{item.dataCad}"/>
                    </p:column>

                    <p:column headerText="Ativo">
                        <h:outputText value="#{item.status?'Sim':'Não'}"/>
                    </p:column>

                    <p:column headerText="Custo">
                        <h:outputText value="#{item.custo}"/>
                    </p:column>
                        
                    <p:column headerText="Número de Controle">
                        <h:outputText value="#{item.numControle}"/>
                    </p:column>
                    
                    <p:column headerText="Peso">
                        <h:outputText value="#{item.peso}"/>
                    </p:column>
                    
                    <p:column headerText="Lote Número">
                        <h:outputText value="#{item.lote.numLote}"/>
                    </p:column>
                    
                    
                    <p:column headerText="Opções">
                        <p:commandButton value="Alterar"
                                         action="#{animalControle.setAnimal(item)}"
                                         ajax="false"/>

                        <p:commandButton value="Excluir"
                                         action="#{animalControle.excluir(item)}">
                            
                            <p:confirm header="Confirmação" 
                                       message="Deseja excluir o registro?" 
                                       icon="ui-icon-alert" />
                            
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
                <p:commandButton value="Novo"
                                 action="#{animalControle.novo()}"
                                 ajax="false"/>
            </h:form>
            
            <ui:include src="form.xhtml"/>

        </ui:define>

    </ui:composition>

</html>
