<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:form rendered="#{servicoControle.servico!=null}">
        
        <p:panel header="Formulário de cadastro">
            <p:panelGrid columns="2" layout="grid">
                
                <p:outputLabel value="Nome:" for="nome"/>
                <p:inputText id="nome" 
                             value="#{servicoControle.servico.nome}"/>
                
                <p:outputLabel value="Data do Cadastro:" for="dataCad"/>
                <p:calendar id="dataCad" 
                    pattern="dd/MM/yyyy HH:mm:ss" disabled="true"
                    value="#{servicoControle.servico.dataCad}"/>
                
            </p:panelGrid>
            <f:facet name="footer">
                <p:commandButton value="Salvar"
                                 action="#{servicoControle.salvar()}"
                                 ajax="false"/>
            </f:facet>
        </p:panel>
    
    </h:form>
    
</html>

