<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:form rendered="#{evolucaoControle.evolucao!=null}">

        <p:panel header="Formulário de cadastro">
            <p:panelGrid columns="2" layout="grid">
                

                <p:outputLabel value="Nome:" for="nome"/>
                <p:inputText id="nome" 
                             value="#{evolucaoControle.evolucao.nome}"/>

                <p:outputLabel value="Data do Cadastro:" for="dataCad"/>
                <p:calendar id="dataCad" 
                    pattern="dd/MM/yyyy HH:mm:ss" disabled="true"
                    value="#{evolucaoControle.evolucao.dataCad}"/>

                <p:outputLabel value="Ativo:" for="status"/>
                <p:selectBooleanCheckbox 
                    id="status"
                    value="#{evolucaoControle.evolucao.status}"/>

            </p:panelGrid>
            <f:facet name="footer">
                <p:commandButton value="Salvar"
                                 action="#{evolucaoControle.salvar()}"
                                 ajax="false"/>
            </f:facet>
        </p:panel>

    </h:form>

</html>
