<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">

        <ui:define name="conteudo">

            <h:form rendered="#{perdaControle.perda==null}">
                <p:dataTable value="#{perdaControle.listagem}"
                             var="item">

                    <p:column headerText="ID">
                        <h:outputText value="#{item.id}"/>
                    </p:column>
                    
                    <p:column headerText="Data Cadastro">
                        <h:outputText value="#{item.dataCad}"/>
                    </p:column>
                    
                    <p:column headerText="Descrição">
                        <h:outputText value="#{item.descricao}"/>
                    </p:column>

                    <p:column headerText="Opções">
                        <p:commandButton value="Alterar"
                                         action="#{perdaControle.setPerda(item)}"
                                         ajax="false"/>

                        <p:commandButton value="Excluir"
                                         action="#{perdaControle.excluir(item)}">
                            
                            <p:confirm header="Confirmação" 
                                       message="Deseja excluir o registro?" 
                                       icon="ui-icon-alert" />
                            
                        </p:commandButton>
                    </p:column>

                </p:dataTable>
                <p:commandButton value="Novo"
                                 action="#{perdaControle.novo()}"
                                 ajax="false"/>
            </h:form>
            
            <ui:include src="form.xhtml"/>

        </ui:define>

    </ui:composition>

</html>
