<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>SIGG</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            *{
                font-size: 12px;
            }
        </style>
    </h:head>
    <h:body>
        <p:messages/>
        <h:form>
            <p:menubar>
                <p:submenu label="Cadastros">
                    <p:menuitem value="Alimento" url="/app/alimento/list.xhtml"/>
                    <p:menuitem value="Animal" url="/app/animal/list.xhtml"/>
                    <p:menuitem value="Evolução" url="/app/evolucao/list.xhtml"/>
                    <p:menuitem value="Lote"     url="/app/lote/list.xhtml"/>
                    <p:menuitem value="Perda"     url="/app/perda/list.xhtml"/>
                    <p:menuitem value="Raça"     url="/app/raca/list.xhtml"/>
                    <p:menuitem value="Serviço"  url="/app/servico/list.xhtml"/>
                </p:submenu>
                <p:submenu label="Movimentos">
                    <p:menuitem value="Em construção" url="#"/>
                </p:submenu>
                <p:submenu label="Relatórios">
                    <p:submenu label="Cadastrais">
                        <p:menuitem value="Em construção" action="#" ajax="false"/>
                    </p:submenu>
                </p:submenu>
                <p:submenu label="Configurações">
                    <p:menuitem value="Em Construção" url="#"/>
                </p:submenu>
                <p:menuitem value="Sair (Em construção)" action="#" ajax="false"/>
            </p:menubar>
        </h:form>
        <p:panel>
        <ui:insert name="conteudo"/>
        <f:facet name="footer">
            <h:outputText value="Usuario: "/>
        </f:facet>
        </p:panel>

        <h:form>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
        </h:form>

    </h:body>
</html>
